* {box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* weboldal pozíció */

html, body{
  height: 100%;
}

.border {
  position: relative;
  min-height: 100vh;
}

/* navigációs sáv pozícíók */

.topnav {
  overflow: hidden;
  margin-bottom: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.topnav p {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.logout-container {
  float: right;
}

.logout-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.topnav a:hover {
  color: black;
}

.logout-container a:hover {
  background-color: red;
  color: black;
}

.projektnev-container {
  height:55px;
}

.select {
  float: right;
}

.projektnev-container p{
  display: block;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height:55px;
}

.projektnev-container img {
  width: 55px;
}

.logo {
  float: left;
  width: 20px;
  display:block
}

nav ul {
  margin:0;
  padding:0;
  list-style: none;
}

.cim-container {
  width: 700px;
  height: 100px;
  padding: 10px;
  margin: auto;
  font-size: 40px;
  border:1px solid;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* bejelentkező felület */

.login-container {
  width: 300px;
  height: 300px;
  padding: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 17px;
  border:1px solid;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.bejelentkezofelulet {
  width: 800px;
  height: 600px;
  padding: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-form {
  width: 200px;
  height: 200px;
  padding: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-form input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:170px;
}

.login-form button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* gomb stílus */

.button {
  padding: 6px 10px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* szövegek stílusa */

.szoveg {
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#container {
  height: 100%;
  padding-bottom: 2.5rem;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

/* footer pozíció és stílus */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

#footer a {
  padding: 4px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height:10px;
}

.footer {
  top:15px;
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 15px;
  bottom: 0;
}

/* oldalt kettéválasztó divek */

.kezdolap:after {
  display: table;
  content: '';
  clear: both;
}

.lap {
  float: left;
  width: 50%;
}

.lap1 {
  float: left;
  width: 20%;
}

/* adatfelvétel div pozíció és stílus */

.felvetel {
  width: 95%;
  height: 150px;
  margin: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.felvetel input[type=text]{
  width: 500px;
}

.felvetelin {
  width: 92%;
  height: 120px;
  margin: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
