* {box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  background: #F0F0F0;
  height: 100%;
}

.border {
  position: relative;
  border: 10px solid grey;
  min-height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: #C8C8C8;
  margin-bottom: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #202020;
  color: white;
}

.logout-container {
  float: right;
}

.topnav input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:140px;
}

.logout-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.logout-container button:hover {
  background-color: green;
}

.topnav a:hover {
  background-color: #BEBEBE;
  color: black;
}

.topnav ul li a.selected {
    background-color: #A8A8A8;
}

.logout-container a:hover {
  background-color: red;
  color: black;
}

.projektnev-container p{
  float: none;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background: #DCDCDC;
}

.logo {
  float: left;
  width: 20px;
  display:block
}

nav ul {
  margin:0;
  padding:0;
  list-style: none;
}

.cim-container {
  /* position: absolute;
  top:10%;
  left:50%; */
  width: 700px;
  height: 100px;
  padding: 10px;
  background: #D3D3D3;
  margin: auto;
  font-size: 40px;
  border:1px solid;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.login-container {
  width: 300px;
  height: 300px;
  padding: 10px;
  background: #D3D3D3;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 17px;
  border:1px solid;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.login-form {
  width: 200px;
  height: 200px;
  padding: 10px;
  background: #DCDCDC;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-form input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:170px;
}

.login-form button {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.login-form button:hover {
  background-color: green;
}

#container {
  height: 100%;
  border: 10px solid #F0F0F0;
  padding-bottom: 2.5rem;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

#footer {
  background-color: grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.kezdolap:after {
  display: table;
  content: '';
  clear: both;
}

.lap {
  float: left;
  width: 50%;
}
