#myInput {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myInput1 {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.table-style {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  position: relative;
  margin: 2%;

}
.table-style td, .table-style th {
  border: 1px solid #A9A9A9;
  padding: 8px;
}

.table-style tr:nth-child(even){background-color: #E6E6E6;}

.table-style tr:hover {background-color: #ddd;}

.table-style th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

.table-style tr.fejlec {
  background-color: lightgrey;
}

#del {
  text-align: center;
  cursor: pointer;
  color: red;
  width:50px;
}

#del:hover {
  background-color: #A9A9A9;
}

#add {
  text-align: center;
  cursor: pointer;
  color: green;
  width:50px;
}

#add:hover {

  background-color: #A9A9A9;
}

.editbox
{
display:none
}

.editbox
{
font-size:14px;
width:270px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}

#mszt {
  width: 90%;
  text-align: left;
  left: 30px;
}
