#myInput {
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
}

#myInput1 {
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
}

.table-style {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  position: relative;
  margin: 2%;
}

.table-style td, .table-style th {
  padding: 8px;
}

.table-style th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}

#del {
  text-align: center;
  cursor: pointer;
  color: red;
  width:50px;
}

#add {
  text-align: center;
  cursor: pointer;
  color: green;
  width:50px;
}

#stop {
  text-align: center;
  cursor: pointer;
  width:50px;
}

.editbox {
display:none
}

.editbox {
font-size:14px;
width:270px;
padding:4px;
}

#mszt {
  width: 90%;
  text-align: left;
  left: 30px;
}
