#myInput {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#AnyaglistaTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  position: relative;
  margin: 2%;

}
#AnyaglistaTable td, #AnyaglistaTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#AnyaglistaTable tr:nth-child(even){background-color: #f2f2f2;}

#AnyaglistaTable tr:hover {background-color: #ddd;}

#AnyaglistaTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

#AnyaglistaTable tr.fejlec {
  background-color: lightgrey;
}

#KosarTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 2%;
}
#KosarTable td, #KosarTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#KosarTable tr:nth-child(even){background-color: #f2f2f2;}

#KosarTable tr:hover {background-color: #ddd;}

#KosarTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

#KosarTable tr.fejlec {
  background-color: lightgrey;
}

#Munkadijkalkulacio {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 2%;
}
#Munkadijkalkulacio td, #Munkadijkalkulacio th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Munkadijkalkulacio tr:nth-child(even){background-color: #f2f2f2;}

#Munkadijkalkulacio tr:hover {background-color: #ddd;}

#Munkadijkalkulacio th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

#Munkadijkalkulacio tr.fejlec {
  background-color: lightgrey;
}

#Egyebkoltsegkalkulacio {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 2%;
}
#Egyebkoltsegkalkulacio td, #Egyebkoltsegkalkulacio th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Egyebkoltsegkalkulacio tr:nth-child(even){background-color: #f2f2f2;}

#Egyebkoltsegkalkulacio tr:hover {background-color: #ddd;}

#Egyebkoltsegkalkulacio th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

#Egyebkoltsegkalkulacio tr.fejlec {
  background-color: lightgrey;
}

#Munkadijak {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 2%;
}
#Munkadijak td, #Munkadijak th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Munkadijak tr:nth-child(even){background-color: #f2f2f2;}

#Munkadijak tr:hover {background-color: #ddd;}

#Munkadijak th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

#Munkadijak tr.fejlec {
  background-color: lightgrey;
}

#Anyagkoltseg {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 2%;
}
#Anyagkoltseg td, #Anyagkoltseg th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Anyagkoltseg tr:nth-child(even){background-color: #f2f2f2;}

#Anyagkoltseg tr:hover {background-color: #ddd;}

#Anyagkoltseg th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgrey;
  color: black;
}

#Anyagkoltseg tr.fejlec {
  background-color: lightgrey;
}

#del {
  text-align: center;
  cursor: pointer;
  color: red;
  width:50px;
}

#del:hover {
  background-color: #A9A9A9;
}

#add {
  text-align: center;
  cursor: pointer;
  color: green;
  width:50px;
}

#add:hover {

  background-color: #A9A9A9;
}

.editbox
{
display:none
}

.editbox
{
font-size:14px;
width:270px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}

#mszt {
  width: 90%;
  text-align: left;
  left: 30px;
}
